<a href="https://colab.research.google.com/github/MarinaSokolova111/OPDA/blob/main/%D0%9E%D0%9F%D0%94%D0%90_%D0%9B%D0%B0%D0%B1_4_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Полезные ссылки

**Начало работы**

- Anaconda (дистрибутив для Python, содержащий в том числе Jupyter Notebook и сам Python): https://www.anaconda.com/download/ - рекомендуется версия Python 3.6 или больше; не забудьте выбрать нужную операционную систему!
- документация по Jupyter: https://jupyter.readthedocs.io/en/latest/
- документация по pip (для установки пакетов в Python с помощью pip install): https://pip.readthedocs.io/en/latest/
- PyCharm: https://www.jetbrains.com/pycharm/

**Общее**

- для любых вопросов: https://www.google.com/
- для (почти) любых ответов: https://stackoverflow.com/
- [a professional information and analytical resource dedicated to machine learning, pattern recognition, and data mining](http://www.machinelearning.ru/wiki/index.php?title=%D0%97%D0%B0%D0%B3%D0%BB%D0%B0%D0%B2%D0%BD%D0%B0%D1%8F_%D1%81%D1%82%D1%80%D0%B0%D0%BD%D0%B8%D1%86%D0%B0)
- A visual introduction to machine learning: http://www.r2d3.us/visual-intro-to-machine-learning-part-1/

**Python & Jupyter**

- A Crash Course in Python for Scientists: http://nbviewer.jupyter.org/gist/rpmuller/5920182
- A Gallery of interesting Jupyter Notebooks: https://github.com/jupyter/jupyter/wiki/A-gallery-of-interesting-Jupyter-Notebooks
- Markdown Cheatsheet: https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet

**pandas**

- документация: http://pandas.pydata.org/pandas-docs/stable/
- 10 minutes to pandas: https://pandas.pydata.org/pandas-docs/stable/10min.html
- Pandas Tutorial: DataFrames in Python: https://www.datacamp.com/community/tutorials/pandas-tutorial-dataframe-python
- Cheet Sheet: https://www.analyticsvidhya.com/blog/2015/07/11-steps-perform-data-analysis-pandas-python/
- Visualization: http://pandas.pydata.org/pandas-docs/stable/visualization.html

**sklearn**

- документация и многое другое: http://scikit-learn.org/stable/

**Другие библиотеки**

- matplotlib: https://matplotlib.org/users/pyplot_tutorial.html
- seaborn: http://seaborn.pydata.org/

## Лабораторная работа 4-1: работа с Pandas.

Pandas - это библиотека Python, предоставляющая широкие возможности для анализа данных. С ее помощью очень удобно загружать, обрабатывать и анализировать табличные данные с помощью SQL-подобных запросов.

In [ ]:
import pandas as pd

Основными структурами данных в Pandas являются классы Series и DataFrame. Первый из них представляет собой одномерный индексированный массив данных некоторого фиксированного типа. Второй - это двумерная структура данных, представляющая собой таблицу, каждый столбец которой содержит данные одного типа. Можно представлять её как словарь объектов типа Series.

С помощью библиотеки Pandas займемся анализом данных. Будем работать с данными о клиентах банка, который интересуется, произойдет ли просрочка платежа на 90 и более дней при выдаче кредита.

### 1
Прочтите данные из файла data.csv

*Функции, которые могут пригодиться при решении: `pd.read_csv(..., delimiter=',')`*

In [2]:
from google.colab import files
uploaded = files.upload()

Saving data.csv to data.csv

In [3]:
import pandas as pd
data_csv = pd.read_csv("data.csv", delimiter=',')

### 2
Выведите описание прочтенных данных. 

*Функции, которые могут пригодиться при решении: `.describe()`*

In [4]:
data_csv.describe()

                Id  ...  NumberOfDependents
count  1350.000000  ...         1307.000000
mean    675.500000  ...            0.737567
std     389.855743  ...            1.086949
min       1.000000  ...            0.000000
25%     338.250000  ...            0.000000
50%     675.500000  ...            0.000000
75%    1012.750000  ...            1.000000
max    1350.000000  ...            8.000000

[8 rows x 12 columns]

### 3
Отобразите несколько первых и несколько последних записей.

*Функции, которые могут пригодиться при решении: `.head(), .tail()`*

*Какие параметры можно передать этим функциям?*

In [5]:
data_csv.head()

   Id  ...  NumberOfDependents
0   1  ...                 2.0
1   2  ...                 1.0
2   3  ...                 0.0
3   4  ...                 0.0
4   5  ...                 0.0

[5 rows x 12 columns]

In [6]:
data_csv.tail()

        Id  ...  NumberOfDependents
1345  1346  ...                 0.0
1346  1347  ...                 1.0
1347  1348  ...                 1.0
1348  1349  ...                 2.0
1349  1350  ...                 0.0

[5 rows x 12 columns]

### 4
Прочтите в файле `DataDictionary-ru.txt`, что означают столбцы матрицы. Какому типу принадлежит каждый столбец (вещественный, целый, категориальный)?

In [7]:
from google.colab import files
uploaded = files.upload()

Saving DataDictionary-ru.txt to DataDictionary-ru.txt

In [8]:
data_txt = pd.read_table("DataDictionary-ru.txt")
data_txt

                                 SeriousDlqin2yrs
0   Произойдет ли просрочка платежа на 90 или боле...
1            RevolvingUtilizationOfUnsecuredLines
2   Процент оставшихся денег на всех кредитных кар...
3                                                age
4                                   Возраст (integer)
5            NumberOfTime30-59DaysPastDueNotWorse
6   Количество кратковременных просрочек платежа (...
7                                        DebtRatio
8   Выплачиваемые в месяц проценты от долга, алиме...
9                                    MonthlyIncome
10                             Месячный доход  (real)
11                   NumberOfOpenCreditLinesAndLoans
12  Количество кредитов (или кредитных карт) за ис...
13                           NumberOfTimes90DaysLate
14  Кредитная история: количество серьезных просро...
15                   NumberRealEstateLoansOrLines
16                      Количество ипотек   (integer)
17           NumberOfTime60-89DaysPastDueNotWorse
18  Количество среднесрочных просрочек платежа (60...
19                               NumberOfDependents
20  Количество иждивенцев в семье, включая самого ...

### 5

Заметьте, что столбец `DebtRatio` содержит неправдоподобные данные. Только значения, соответствующие известному месячному доходу, являются отношениями. Остальные – абсолютные значения месячных выплат процентов. 

Исправьте данные, сделав все значения столбца `DebtRatio` абсолютными (умножьте их на `MonthlyIncome`).  Чтобы ваша программа быстро работала на полных данных, постарайтесь не использовать цикл.

#### *Функции, которые могут пригодиться при решении:*

Обращение к элементам DataFrame:
  * элемент: `data.loc[i, 'названиеСтолбца']`
  * столбец: `data['названиеСтолбца']`
  * подматрица: `data.loc[a:b, списокНазванийСтолбцов]`

Условная индексация:
* `data.loc[data['столбец'] > 20, списокНазванийСтолбцов]`

лучше писать так:

* `i = data['столбец'] > 20`  # вектор `True` и `False`
* `data.loc[i, 'названиеСтолбца']`

У подматриц номера строк наследуются от исходной.

* `pandas.isnull(скаляр или массив)` - проверка, является ли значение неопределенным (`NaN`)
* `pandas.notnull(скаляр или массив)` - проверка, является ли значение определенным (не `NaN`)

In [ ]:
# место для кода

### 6

Поменяйте имя столбца на `Debt`.

*Функции, которые могут пригодиться при решении: `.rename(columns={'староеИмя':'новоеИмя'}, inplace=True)`*

In [9]:
df1 = data_csv.rename(columns={'DebtRatio' : 'Debt'}, inplace=False)
df1

        Id  ...  NumberOfDependents
0        1  ...                 2.0
1        2  ...                 1.0
2        3  ...                 0.0
3        4  ...                 0.0
4        5  ...                 0.0
...    ...  ...                 ...
1345  1346  ...                 0.0
1346  1347  ...                 1.0
1347  1348  ...                 1.0
1348  1349  ...                 2.0
1349  1350  ...                 0.0

[1350 rows x 12 columns]

### 7

Вычислите средний ежемесячный доход и присвойте всем клиентам с неизвестным доходом полученное число.

*Функции, которые могут пригодиться при решении: `.mean()`*

*Другие описательные статистики:* https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#computations-descriptive-stats

In [10]:
df1['MonthlyIncome'].mean()

6438.4734917733085

In [12]:
df1.fillna(df1['MonthlyIncome'].mean())

        Id  ...  NumberOfDependents
0        1  ...                 2.0
1        2  ...                 1.0
2        3  ...                 0.0
3        4  ...                 0.0
4        5  ...                 0.0
...    ...  ...                 ...
1345  1346  ...                 0.0
1346  1347  ...                 1.0
1347  1348  ...                 1.0
1348  1349  ...                 2.0
1349  1350  ...                 0.0

[1350 rows x 12 columns]

### 8

Используя метод `groupby`, оцените вероятности невозврата кредита (`SeriousDlqin2yrs=1`) для различных значений количества иждивенцев (`NumberOfDependents`).  

Проделайте аналогичную процедуру для различных значений столбца `NumberRealEstateLoansOrLines`

*Подсказка:*
`data['столбец1'].groupby(data['столбец2']).mean()`  *-- расчет средних значений столбца1 по группам из столбца2*

In [ ]:
# место для кода

## Визуализация данных

In [13]:
import matplotlib.pyplot as plt

#  функция, позволяющая выводить графики прямо в ноутбук
%matplotlib inline

Matplotlib позволяет удобно визуализировать табличные данные.

*Функции, которые могут пригодиться при решении:*

* Рисование:
   * `plt.plot(x, y)`  см. подробнее http://matplotlib.org/api/pyplot_api.html#matplotlib.pyplot.plot
   * `plt.show()`
   * `plt.scatter(x, y)` - график рассеяния, см. http://matplotlib.org/api/pyplot_api.html#matplotlib.pyplot.scatter
   * `plt.hist()` - гистограмма, см. http://matplotlib.org/api/pyplot_api.html#matplotlib.pyplot.hist
* Рисование нескольких графиков на одном:

  `fig, ax = plt.subplots()
   ax.hist(...)
   ax.hist(...)
   plt.show()`
   
* Логарифмическая шкала:
    * `ax.set_xscale('log')`  или `ax.set_yscale('log')`
* Ограничение области графика:
    * `ax.axis([x1, x2, y1, y2])`


### 9a

Постройте график рассеяния на осях `age` и `Debt`. Cиним отметьте клиентов без серьезных задолженностей (`SeriousDlqin2yrs = 0`) и красным — должников (`SeriousDlqin2yrs = 1`).

### 9b
Постройте на одном графике две **нормированные** плотности распределения: красную – для месячного дохода клиентов с задолженностями, синюю – для месячного дохода клиентов без задолженностей. По оси абсцисс отобразите значения до 25000.

In [ ]:
# место для кода

### 9c*
Визуализируйте попарные зависимости между небинарными признаками `'age', 'MonthlyIncome', 'NumberOfDependents'`. Ограничьте при этом месячный доход значением 25000.

Какие закономерности вы можете наблюдать на получившихся графиках?

*Функции, которые могут пригодиться при решении: `pd.plotting.scatter_matrix()`*

In [ ]:
# место для кода